@import url("https://fonts.googleapis.com/css2?family=Cinzel:wght@700&family=Merriweather&family=Special+Elite&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Bangers&family=Black+Han+Sans&family=Rubik:wght@400;700&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Anton&family=Bebas+Neue&display=swap");

@import "tailwindcss";

/* ===== BASE LAYER ===== */
@layer base {
  :root {
    --color-bg: #3e4e42; /* Dark Olive */
    --color-accent: #403535; /* brown */
    --color-text: #f4ebd0; /* Bone White */
    --color-panel: #8b1e1e; /* Titan Red */
    --color-panel-op: rgb(139 30 30 / 0.9);
    --color-secondary: #4a773c; /* Survey Green */

    --font-heading: "Bangers", cursive; /* Comic-style, bold, fun but strong */
    --font-body: "Rubik", sans-serif; /* Rounded, bold, readable */
    --font-alt: "Black Han Sans", sans-serif; /* All caps, thick Korean style — strong presence */
    --font-tall: "Anton", sans-serif; /* Tall, bold and thin */
    --font-tall-alt: "Bebas Neue", sans-serif; /* Alternative tall and narrow font */
  }

  body {
    @apply bg-[var(--color-bg)] text-[var(--color-text)];
    font-family: var(--font-body);
  }

  h1,
  h2,
  h3,
  h4 {
    font-family: var(--font-heading);
  }

  button {
    font-family: var(--font-heading);
  }

  p,
  span,
  li {
    font-family: var(--font-body);
  }
}

/* ===== UTILITY LAYER ===== */
@layer utilities {
  .bg-brand {
    background-color: var(--color-bg);
  }

  .bg-panel {
    background-color: var(--color-panel);
  }

  .bg-accent {
    background-color: var(--color-accent);
  }

  .bg-text {
    background-color: var(--color-text);
  }

  .bg-panel {
    background-color: var(--color-panel);
  }

  .text-accent {
    color: var(--color-accent);
  }

  .text-secondary {
    color: var(--color-secondary);
  }

  .text-bone {
    color: var(--color-text);
  }

  .text-panel {
    color: var(--color-panel);
  }

  .font-heading {
    font-family: var(--font-heading);
  }

  .font-body {
    font-family: var(--font-body);
  }

  .font-alt {
    font-family: var(--font-alt);
  }
  .font-tall {
    font-family: var(--font-tall);
  }

  .font-tall-alt {
    font-family: var(--font-tall-alt);
  }

  .shadow-aot {
    box-shadow: 0 4px 10px rgba(139, 30, 30, 0.4); /* Titan Red shadow */
  }

  .border-accent {
    border-color: var(--color-accent);
  }

  .border-panel {
    border-color: var(--color-panel);
  }

  .stroke-text {
    -webkit-text-stroke: 1px var(--color-accent);
  }
}
